ul {
    margin:20px 20px 0 0;
    padding:0;
}
.selected {
    margin-top:10px;
    font-size:16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}
.star {
    font-size:25px;
    color:yellow
}
