.btn-group {
    position: absolute; 
    right: 0; 
    min-height: 300px;
    padding: 20px 50px;
    border: 2px solid black;
    width: 300px;
}
.link{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width:50px;
    padding: 10px 0;
    /* height:30px; */
    font-size:15px;
    border:1px solid grey;
    border-radius: 10%;
    color: white;
    background:steelblue;
}

.done {
    margin-left:20px;
}
@media screen and (max-width:1180px){
    .btn-group {
        display: none;
    }
}