.add-todo {
    float: left;
}
.form-input {
    padding:10px 20px;

}
.form-btn {
    margin-left:30px;
    background: #28a745;
    color:white;
    border:none;
    padding:10px 20px;
}